/* Navbar Section */
#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    transition: background-color 0.3s ease;
    height: 44px;
    background-color:#101d3000;
    cursor: pointer;
}
.home{
    display: flex;
    align-items: center;
}
.home img{
    width: 140px;
    height: 67%; 
    margin-right: 10px;
}   

.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
#navbar.fixed {
    background-color: #101d30; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.home a,
.navbar-links li a {
text-decoration: none;
color: white;
font-family: "roboto", sans-serif;
font-size: 0.9rem;
font-weight: bold;
text-transform: uppercase;
opacity: 0.5;
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color:#101D30;
justify-content: center;
list-style: none;
}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
.logo-navbar{
    width:70px;
    height: 70px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
 
}
/* Hero section */
.hero {
    background: linear-gradient(rgba(4, 11, 28, 0.7), rgba(4, 11, 28, 0.7)), 
                url('/assets/images/b7da608a7886435f41f66a382f5111b0.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.wave svg{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
}
.hero-title h1{
  display: none;
}
.hero .hero-title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    background: #0d253f82;
}
/* La Firma */
.section-la-firma{
    background-color: #FFFFFF;
    color: #4c4c4c;
    padding: 50px;
}


/* obra de arte */
.obra {
    margin-top: -29px;
    width: 100%;
    height: 100vh; /* Ajusta la altura para que ocupe toda la pantalla visible */
    background: linear-gradient(rgba(4, 11, 28, 0.7), rgba(4, 11, 28, 0.7)), 
                url('/assets/images/obra.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.obra svg{
    top: 0px;
    width: 100%;
    position: relative;
}

/* Areas de práctica */
.title-areas-de-practica h1{
    color: #4c4c4c;
    padding-top: 50px;
    padding-left: 50px;
}
.logo-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.logo img{
    width: 30px;
    height: 30px;
}
.logo h4{
    color: #4c4c4c;
}