/* Navbar Section */
#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    transition: background-color 0.3s ease;
}
.home img{
    width: 40px;
    height: 100%; 
    margin-right: 10px; 

}   
.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.fa-solid  {
    width: 15px;
    height: 30px;
    padding-top: 20px;
    padding-right: 32px ;
    height: 100%;
    cursor: pointer;
   }
#navbar.fixed {
    background-color: #1e1c1c; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.home a,
.navbar-links li a {
text-decoration: none;
color: white;
font-family: "roboto", sans-serif;
font-size: 0.9rem;
font-weight: bold;
text-transform: uppercase;
opacity: 0.5;
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: rgb(0, 0, 0);
justify-content: center;
list-style: none;
}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
/* Hero section */
.hero{
    background-color: #010101;

}
.video video {
    filter: grayscale(100%) brightness(20%);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.hero{
    position: relative;
}
.hero-title h1{
  display: none;
}
.hero .hero-title img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 370px;
}